#### Analyzing the data first look

## import > split into parts> joins

# comments regularly

In [3]:
import pandas as pd

f = '../data/data_vis_test .csv'
df = pd.read_csv(f)

In [9]:
# lets read the file 
df.head()

,user_id,first_open_timestamp_micros,mobile_brand_name,device_model
0,59742df346ab8ae80d7320e5,1.509256e+15,Samsung,SM-J200G
1,59d23b4cb2cb0511457c3718,1.506950e+15,Xiaomi,Redmi 4A
2,59c8671a625fbbd425d735ae,1.506306e+15,NaN,Swipe_Elite_3
3,591ff88228d8f8c86bfd75bf,1.506840e+15,OPPO,A37f
4,59feaccfa3c446c82ca3e68c,1.509862e+15,Sony,C6902

In [10]:
df.columns

Index(['user_id', 'first_open_timestamp_micros', 'mobile_brand_name',
       'device_model'],
      dtype='object')

# GROUP BY CLAUSE WORKING

In [16]:
groupi = df
groupi.groupby('mobile_brand_name').groups.keys()

dict_keys(['Ampe', 'BlackBerry', 'Tecno', 'OnePlus', 'Meizu', 'DOOGEE', 'iNew', 'HTC', 'Samsung', 'Celkon', 'Elekta', 'itel', 'Videocon', 'Motorola', 'Coolpad', 'Cubot', 'Reliance', 'Lava', 'Swipe', 'Nokia', 'Asus', 'InnJoo', 'Sansui', 'Hitech', 'LYF', 'G-Five', 'Acer', 'Karbonn', 'Spice', 'LG', 'InFocus', 'Dell', 'LeTV', 'Lenovo', 'Magicon', 'Gionee', 'Fujitsu', 'Phicomm', 'Google', 'QMobile', 'Symphony', 'ZTE', 'Penta', 'Ziox', 'OPPO', 'Lephone', 'Infinix', 'Xolo', 'LeEco', 'Alcatel', 'iZoom', 'Panasonic', 'Zen', 'SonyEricsson', 'YU', 'RCA', 'Vivo', 'iOcean', 'Allview', 'Micromax', 'Sony', 'Pioneer', 'Meitu', 'ZXD', 'iBall', 'Huawei', 'Intex', 'PiPO', 'Xiaomi'])

In [19]:
# finding the basic criteria of eda
groupi.groupby('mobile_brand_name').value_counts

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [30]:
groupi.get_group('Ampe')

AttributeError: 'DataFrame' object has no attribute 'get_group'