Lets extract date and time information from the spredsheet

In [37]:
import pandas as pd

f = '../data/data_vis_test .csv'
df = pd.read_csv(f)
df.shape

(10000, 4)

In [38]:
df.head(2)

,user_id,first_open_timestamp_micros,mobile_brand_name,device_model
0,59742df346ab8ae80d7320e5,1.509256e+15,Samsung,SM-J200G
1,59d23b4cb2cb0511457c3718,1.506950e+15,Xiaomi,Redmi 4A

In [39]:
df.dtypes

user_id                         object
first_open_timestamp_micros    float64
mobile_brand_name               object
device_model                    object
dtype: object

convert flot64 into date time object

In [40]:
pd.to_datetime(df.first_open_timestamp_micros, unit ='ns').head()

0   1970-01-18 11:14:16.348059
1   1970-01-18 10:35:50.183309
2   1970-01-18 10:25:05.702698
3   1970-01-18 10:33:59.524046
4   1970-01-18 11:24:22.337239
Name: first_open_timestamp_micros, dtype: datetime64[ns]

In [41]:
pd.to_datetime(df['first_open_timestamp_micros'],unit='ns').head()

0   1970-01-18 11:14:16.348059
1   1970-01-18 10:35:50.183309
2   1970-01-18 10:25:05.702698
3   1970-01-18 10:33:59.524046
4   1970-01-18 11:24:22.337239
Name: first_open_timestamp_micros, dtype: datetime64[ns]

In [42]:
#val.astype('int').astype("datetime64[s]")

In [43]:
p = df.iloc[0,1]

In [44]:
p

1509256348059000.0

In [45]:
p.astype('int').astype("datetime64[ns]")

numpy.datetime64('1970-01-18T11:14:16.348059000')

In [46]:
m = p.astype('int').astype("datetime64[s]")

In [47]:
type(m)

numpy.datetime64

In [48]:
m

numpy.datetime64('47828399-10-03T04:50:00')

#import numpy as np
#pd.Timestamp(np.datetime64(m)).to_pydatetime()

# STUDY DATE AND TIME IN DEPT HERE

In [49]:
stamp = pd.Timestamp('2013-05-03T23:00-0500')

In [50]:
stamp

Timestamp('2013-05-03 23:00:00-0500', tz='pytz.FixedOffset(-300)')

In [51]:
stamp.value

1367640000000000000

In [52]:
stamp.tz_convert('utc')

Timestamp('2013-05-04 04:00:00+0000', tz='UTC')

In [53]:
stamp.tz_convert('utc').value

1367640000000000000

In [54]:
pd.to_datetime(p, unit ='ns') # where p is time stamp stored

Timestamp('1970-01-18 11:14:16.348059')

In [55]:
import datetime as dt     
date = dt.date.today

In [56]:
date()

datetime.date(2018, 1, 9)

In [57]:
pd.to_datetime('today')

Timestamp('2018-01-09 00:00:00')

In [58]:
type(pd.to_datetime('today'))

pandas._libs.tslib.Timestamp

In [59]:
todays_date_in_epoch = pd.to_datetime('today')

In [75]:
todays_date_in_epoch

Timestamp('2018-01-09 00:00:00')

In [60]:
todays_date_in_epoch

Timestamp('2018-01-09 00:00:00')

In [61]:
pd.to_datetime(1490195805, unit='s')

Timestamp('2017-03-22 15:16:45')

In [62]:
pd.to_datetime(1490195805433502912, unit='ns')

Timestamp('2017-03-22 15:16:45.433502912')

In [63]:
pd.to_datetime(1490195805433502912, unit='ns')

Timestamp('2017-03-22 15:16:45.433502912')

In [64]:
pd.to_datetime(1490000000000000000, unit='ns')

Timestamp('2017-03-20 08:53:20')

In [65]:
p.size

1

In [66]:
type(p.astype(int))

numpy.int64

In [67]:
p.astype(int)

1509256348059000

In [68]:
pd.to_datetime(15092563480590000000, unit='ns')

Timestamp('1863-09-17 11:10:06.880448384')

In [69]:
## the issue with time stamp it requires precision till 19 digits

In [70]:
"{:19f}".format(15) # one way of doing however it convert into str not efficint

'          15.000000'

In [71]:
np.around([0.37, 1.64])

NameError: name 'np' is not defined

In [ ]:
type(p)

In [ ]:
len("{:19f}".format(15))

In [ ]:
len(str(p))

In [ ]:
len(str(1490195805433502912))

# ACHINVING VICTORY ON DATES

In [76]:
#pd.set_option('precision',7)

In [77]:
pd.set_option('precision',19)

In [78]:
df.head()

,user_id,first_open_timestamp_micros,mobile_brand_name,device_model
0,59742df346ab8ae80d7320e5,1509256348059000.0,Samsung,SM-J200G
1,59d23b4cb2cb0511457c3718,1506950183309000.0,Xiaomi,Redmi 4A
2,59c8671a625fbbd425d735ae,1506305702698000.0,NaN,Swipe_Elite_3
3,591ff88228d8f8c86bfd75bf,1506839524046000.0,OPPO,A37f
4,59feaccfa3c446c82ca3e68c,1509862337239000.0,Sony,C6902

In [81]:
# will throw error#pd.to_datetime(df.first_open_timestamp_micros.astype('int'), unit ='ns').head()

In [82]:
sum(df.first_open_timestamp_micros.isna())# remove NA from the

5

In [83]:
len(df.first_open_timestamp_micros.notnull())

10000

In [84]:
len(df[~(df.first_open_timestamp_micros.isnull())]) # to remove all with nulls

9995

In [85]:
df = df[~(df.first_open_timestamp_micros.isnull())]

In [86]:
pd.to_datetime(df.first_open_timestamp_micros, unit ='ns').head()

0   1970-01-18 11:14:16.348059
1   1970-01-18 10:35:50.183309
2   1970-01-18 10:25:05.702698
3   1970-01-18 10:33:59.524046
4   1970-01-18 11:24:22.337239
Name: first_open_timestamp_micros, dtype: datetime64[ns]

In [87]:
df.dtypes

user_id                         object
first_open_timestamp_micros    float64
mobile_brand_name               object
device_model                    object
dtype: object

In [88]:
dz = pd.read_csv(f)

In [89]:
p

1509256348059000.0

In [90]:
float("{:19f}".format(p))

1509256348059000.0

In [91]:
len(str(p))

17

In [92]:
(p.astype(int))*100

150925634805900000

In [ ]:
# implement lambda on a series

In [ ]:
fogi = lambda x, y : x + y

In [ ]:
fogi(1,2)

In [98]:
dz = dz[~(dz.first_open_timestamp_micros.isnull())]

In [94]:
#j = map(lambda x:x*100, dz.first_open_timestamp_micros.astype(int))

In [ ]:
a = np.array(j)

In [96]:
import numpy as np

In [ ]:
bb = np.fromiter(a, dtype=np.int)

In [ ]:
list(map(lambda x:x*100, dz.first_open_timestamp_micros.astype(int)))

In [99]:
as_aaay = np.asarray(list(map(lambda x:x*1000, dz.first_open_timestamp_micros.astype(int))))

In [ ]:
as_aaay[1]

In [ ]:
pd.to_datetime(1509256348059000000, unit='ns')

In [ ]:
pd.to_datetime(as_aaay[1], unit='ns')

In [ ]:
dz['time_stamp'] = pd.to_datetime(as_aaay, unit='ns')

In [ ]:
dz.tail()

In [ ]:
dz.head()

In [ ]:
dz.time_stamp.dt.day.head()

In [ ]:
dz.time_stamp.dt.year.head()

In [80]:
dz.time_stamp.dt.month.tail() # so its all one month only

NameError: name 'dz' is not defined

In [ ]:
# split date time into components
dz['day'] = dz.time_stamp.dt.day
dz['month'] = dz.time_stamp.dt.month
dz['hour'] = dz.time_stamp.dt.hour

In [ ]:
dz.head()

In [ ]:
dz.time_stamp.dt.year.unique() # so see if there is any variaation according to year

In [ ]:
print('Unique months:',dz.time_stamp.dt.month.unique())
print('Spred of months:',dz.time_stamp.dt.month.value_counts())

In [ ]:
dz.time_stamp.dt.day.unique() # pretty much spread

In [ ]:
dz.time_stamp.dt.month.value_counts()

In [ ]:
dz.time_stamp.dt.weekday_name.value_counts()# screwed towards sunday

In [ ]:
dz.time_stamp.dt.hour.value_counts()# spred of hours people generally opened the app

In [ ]:
dz.head()

In [ ]:
print('NULL unique id',len(dz.user_id.notnull()))
print('NOt NULL unique id',len(dz.mobile_brand_name.notnull()))
print('not null in mobile brand name',len(dz.device_model.notnull()))
print('NOt NULL unique id',len(dz.time_stamp.notnull()))

In [ ]:
len(dz.user_id.notnull())

In [ ]:
# user id analysis
dz.user_id.unique().size  # have to analyze frequent user and check them

In [ ]:
%matplotlib inline

In [ ]:
# no of ufo each year one way to do is

In [ ]:
dz.time_stamp.dt.weekday_name.value_counts().plot()# this is sorted by values 
# dz.time_stamp.dt.weekday_name.value_counts().sort_index()# this way we can sort it by index

In [ ]:
dz.time_stamp.dt.hour.value_counts().sort_index().plot() #inference made no of user max in 6-7in morning
# then 4 pm in collgeg and than gradually guys get busy with dota/ got

# Johnnathan Notebooks

# what should be tider version of this data set
-- identify columns day, month, hour,brand, model type

In [ ]:
# split along time, model sub model, unique user

In [ ]:
# creat the column name of new data sets
time_stamp_index = 'user_id'
time_stamp_cols = ['day','month','hour']

In [ ]:
# see unique used ids
all_cols_unique_user_id = dz.groupby('user_id').agg({col: 'nunique' for col in time_stamp_cols})

In [ ]:
all_cols_unique_user_id.head()

In [ ]:
all_cols_unique_user_id.shape # so total 9969 unique users are there
# so all the different users in this data

In [ ]:
model_index = 'mobile_brand_name'
model_column = ['device_model']

In [ ]:
# lets plot user id with month 
# groupby user_id by month
dz.shape

In [ ]:
by_month =

## AMAZING PLOTTING

In [103]:
# Index(myseries).get_loc(7)

AttributeError: module 'pandas' has no attribute 'dataFrame'